.match-info {
    text-align: center; /* Center the match info */
}
.match-details {
    margin-top: 10px; /* Add space between score and status/date */
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}